.container {
    margin-left:10px;
    margin-right: 10px;
    margin-top:15px;
    select {
        display: block;
    }
    img {
        vertical-align: unset;
    }
    :global{
        .react-phone-number-input__country{
            top: -8px;
        }
    }
    input {
        &::placeholder {
            color: #9e9e9e
        }
        &:focus {
            &::placeholder {
                color: #26a69a;
            }
        }
    }
}