.title{
    padding-left: 20px;
    padding-top: 10px;
}

.title+p {
    border-bottom: 2px solid #e1e5e8;
    text-align: center;
}

.activationCount{
    border-bottom: 2px solid #e1e5e8;
    font-family: DINNextLTPro-Regular;
    font-weight: 300;
    span{
        font-weight: 400;
        color: #35b7fc;
        font-size: 36px;
    }
}

.activationCount+div{
    font-family: DINNextLTPro-Regular;
    font-weight: 300;
    span{
        font-weight: 400;
        color: #35b7fc;
        font-size: 36px;
    }
}

.activationSummary{
    padding: 15px;
    border-radius: 6px;
    background-color: #f3f5f8;
    p{
        font-family:Gotham-Book;
        font-weight: 400;
        strong{
            font-family:Gotham-Medium;
            font-weight: 500;
        }
    }
}

.blueBtn{
    margin: 10px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    line-height: 50px;
    color: #FFFFFF;
    font-family:Gotham-Medium;
    font-weight: 500;
    background-color: #35b7fc;
    display: inline-flex;
    justify-content: center;
    padding: 0 10px;
}

@media only screen and (min-width: 1920px) {
    .title{
        span{
            float: right;
            margin-right: 15px;
            margin-bottom: 15px;
            font-family: Gotham-Book;
            font-size: 20px;
            color: #35b7fc;
        }
    }

    .activationCount{
        border-bottom: 2px solid #e1e5e8;
        font-family: DINNextLTPro-Regular;
        font-weight: 300;
        font-size: 28px;
        span{
            font-weight: 400;
            font-size: 60px;
            color: #35b7fc;
        }
    }
    .activationCount+div{
        font-family: DINNextLTPro-Regular;
        font-weight: 300;
        font-size: 28px;
        span{
            font-weight: 400;
            color: #35b7fc;
            font-size: 60px;
        }
    }
    .activationSummary{
        padding: 15px;
        border-radius: 6px;
        background-color: #f3f5f8;
        p{
            font-family:Gotham-Book;
            font-weight: 400;
            font-size: 22px;
            strong{
                font-family:Gotham-Medium;
                font-weight: 500;
            }
            a{
                font-size: 20px;
                text-decoration: none;
                margin-left: 20px;
                color: #35b7fc;

            }
        }
    }
    .blueBtn{
        margin: 10px;
        height: 50px;
        font-family:Gotham-Medium;
        font-weight: 500;
        background-color: #35b7fc;
        font-size: 24px;
        display: inline-flex;
        justify-content: center;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 1600px) {
    .title{
        span{
            font-size: 14px;
            margin-right: 10px;
        }
    }
    .activationCount{
        span{
            font-size: 24px;
        }
    }
    .activationCount+div{
        span{
            color: #35b7fc;
            font-size: 24px;
        }
    }
    .activationSummary{
        padding: 10px;
    }
}