.container {
    .paymentError {
        text-align: center;
        color: red;
    }
    .hide {
        display: none;
    }
    .spinner {
        margin: 100px 160px;
    }
    .title {
        text-align: center;
        padding: 30px;
    }
    hr {
        border: none;
        border-left: 1px solid hsla(200, 10%, 50%,100);
        height: auto;
        width: 1px;    
        margin: 0;
        margin-left: 40px;
        margin-right: 40px; 
    }
    .body {
        display: flex;
        >div {
            padding-left: 40px;
            padding-right: 40px;
            >div {
                padding-bottom: 15px;
            }
        }
        ul {
            li {
                width: 200px;
                border: 2px solid rgba(171, 171, 171, 0.2);
                border-bottom: none;
                padding: 10px;
                cursor: pointer;
                &.active {
                    background-color: #35b7fc;
                    color: #FFFFFF;
                }
                &:first-child{
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }
                &:last-child{
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                    border-bottom: 2px solid rgba(171, 171, 171, 0.2);
                    border-top: none;
                }
                span {
                    font-size: 10px;
                    display: table;
                }
            }
        }
    }
    .footer {
        display: flex;
        justify-content: flex-end;
        height: 100px;
        align-items: center;
        button{
            margin: 10px;
            width: 150px;
            height: 50px;
            cursor: pointer;
            text-align: center;
            border-radius: 6px;
            line-height: 50px;
            font-weight: 500;
            color: #FFFFFF;
            font-family:Gotham-Medium;
            background-color: #35b7fc;
        }
        span {
            cursor: pointer;
            color: #35b7fc;
        }
        &.return {
            justify-content: space-between;
        }
    }

    .cardSecureData {
        display: flex;
    }

    :global {      
        .col {
            padding: 0;
        }
      
          input,
          .StripeElement {
            display: block;
            margin: 10px 10px 20px 10px;
            max-width: 500px;
            padding: 10px 0px;
            background: white;
            border-bottom: 1px solid #9e9e9e;
            min-width: 200px;
          }
      
          input::placeholder {
            color: #aab7c4;
          }
      
          input:focus,
          .StripeElement--focus {
            -webkit-transition: all 150ms ease;
            transition: all 150ms ease;
            border-bottom: 2px solid #35b7fc;
          }
      
    }
}